* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  padding: 20px;
  color: #333;
  background: #eee;
}
h1 {
  font-weight: normal;
  font-size: 40px;
  margin: 20px 0 100px 10px;
}
.tabs {
  width: 800px;
  float: none;
  list-style: none;
  position: relative;
  margin: 80px 0 0 10px;
}
.tabs li {
  float: left;
  display: block;
}
.tabs input[type="radio"] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
.tabs label {
  display: block;
  padding: 14px 21px;
  border-radius: 2px 2px 0 0;
  font-size: 20px;
  background: #ccc;
  cursor: pointer;
  position: relative;
  top: 4px;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.tabs [id^="tab"]:checked + p {
    color:black;
    -moz-transition: all 2.2s ease-in-out;
    -o-transition: all 2.2s ease-in-out;
    -webkit-transition: all 2.2s ease-in-out;
    transition: all 2.2s ease-in-out;
}
.tabs label:hover {
  background: #fff;
}
.tabs .tab-content {
  z-index: 2;
  display: none;
  overflow: hidden;
  width: 100%;
  font-size: 17px;
  line-height: 25px;
  padding: 25px;
  position: absolute;
  top: 53px;
  left: 0;
  background: #fff;
}
.tabs [id^="tab"]:checked + label {
  background: #fff;
}
.tabs [id^="tab"]:checked ~ [id^="tab-content"] {
  display: block;
}
